@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	
	
}

.links{
	margin-bottom: 25px;
	background: #fff;
	padding: 15px;
	border-radius: 3px;
}

.links ul li{
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	cursor: pointer;
	justify-content: center;
	display: flex;
	color: #4abd3e;
}

.wrapper{
	width: 800px;
	margin: 20px auto;
}

body{
	background: #ebecf1;
	color: #000000;
}

.view_item img{
	width: 75px;
	height: 70px;
}

.view_main{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.view_item {
	display: inline-grid;
    border: 1px solid #e2efe1;
    width: 230px;
    padding: 25px;
    text-align: center;
    margin: 10px;
}

.view_item .Title{
	font-weight: 600;
}

.view_item .Description{
	margin: 5px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 200;
}

.grid-view{
	width: 100%;
}

.view_item .vi_left{
	margin-bottom: 10px;
}

#video-style{
width:225px;

}
